:root{
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%) ;
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button{ 
    -webkit-appearance: none;  
    -moz-appearance: none;  
    appearance: none;   
    background: none;
    border: none; 
    font-family: inherit; 
    font-size: inherit;
    line-height: inherit;
    color: inherit;   
    outline: none; 
}

body{
    font-family: 'League Spartan',sans-serif;
    font-size: 15px;
    line-height: 1.5;
}